*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

header {
    background-color: palevioletred;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
}
 
.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
}

.btnMenu {
    display: none;
}

@media (max-width: 1024px) {
    header {
        padding: 10px 20px;
    }
    .btnMenu{
        display: initial;
    }

    .links {
        display: none;
    }
}
@media (max-width: 540px) {

}