*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.linha{
    background-color: #FF1827;
    padding: 12px 120px;
    display: flex;
    justify-content: end;
    
}

.links-linhas{
    display: flex;
    gap: 20px;
}

.links-linhas a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}



.header{
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
}

.links-header {
    display: flex;
    gap: 40px;
}

.links-header a {
    color: black;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}

.Hero{
    width: 100%;
    background-image: url(./assets/background-hero.png);
    height: 30vw;
    background-size: cover;
    background-position: center;
}

h1{
    font-weight: 700;
    font-size: 34px;
    text-align: center;

}

p{
    font-size: 16px;
    text-align: center;
    width: 980px;
    margin: auto;

}

.first{
    margin-top: 80px;
    margin-bottom: 40px;
}

.second{
    margin-top: 60px;
    margin-bottom: 60px;
}

.cards{
    max-width: 720px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    justify-content: center;
    gap: 40px;
    
}

body{
    background-color: #EAEAEA;

}

.card{
    width: 150PX;
    height: 150PX;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
.banner{
    width: 980px;
    height: 400px;
    background-image: url(./assets/background-container.png);
    background-size: cover;
    margin: 60px auto;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner h2{
    color: white;
    font-size: 34px;
    width: 354px;
}

.banner p{
    color: white;
    font-size: 16px;
    width: 304px;
    text-align: left;
    margin: initial;
}

.banner a {
    background-color: white;
    text-decoration: none;
    width: 260px;
    text-align: center;
    padding: 10px 60px ;
    color: black;
    border-radius: 30px;
    font-weight: 700;
}

.footer{
    padding: 40px 120px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.socials{
    display: flex;
    gap: 20px;
}

.socials a {
    width: 32px;
    height: 32px;
}

.insta {
    background-image: url(./assets/faInstagram.png);
    background-size: contain;
    background-position: center;
}

.linkedim{
    background-image: url(./assets/faLinkedin.png);
    background-size: contain;
    background-position: center;
}

.facebook{
    background-image: url(./assets/faFacebookSquare.png);
    background-size: contain;
    background-position: center;
}

.youtube{
    background-image: url(./assets/faYoutube.png);
    background-size: contain;
    background-position: center;
}

@media (max-width: 1024px) {
    header {
        padding: 10px 20px;
    }
}
@media (max-width: 540px) {

}